.card-one-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-column-items{
    display: flex;
    flex-direction: column;
}

.span-one-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

