.event-info-label{
    font-size: 16px;
    font-weight: bold;
}

.event-info-text{
    font-size: 16px;
    margin-left: 12px;
    margin-bottom: 10px;
}

.back-arrow{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    text-decoration: underline;
    /* margin-bottom: 12px; */
    margin-top: 12px;
}

.btn-grp-session{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
