

.view-dialog-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.dialog-container{
    display: flex;
    
}

.btn-dialog{
    justify-self: flex-end;
}

.btn{ 
    width: 150px;
     height: 30px; 
     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-color: var(--joy-palette-primary-main); */
}

.border-image{
    height:130px;
}

