@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*
=============== 
Variables
===============
*/


/* Base styles for all devices */
body {
  font-family: Arial, sans-serif;
}

/* Styles for extra small devices (phones) */
@media only screen and (max-width: 480px) {
  body {
    background-color: rgb(6, 14, 232);
  }
}

/* Styles for small devices (phones) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  body {
    background-color: lightgreen;
  }
}

/* Styles for medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: lightcoral;
  }
}

/* Styles for large devices (desktops) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  body {
    background-color: lightgoldenrodyellow;
  }
}

/* Styles for extra large devices (large desktops) */
@media only screen and (min-width: 1201px) {
  body {
    background-color: lightgray;
  }
}
