.form-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px;
    min-width: 500px;
    gap: 15px;
    
}
.input-field{
    /* TBA */
}

.container-topic-forms{
    
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    border: 1px;

}

.form-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.wrapper-inline{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 5px;

    
}

.customDateTimePicker{
    width:100px; 
    height:30px;
}