.form-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px;
    min-width: 500px;
    gap: 15px;
    
}

.add-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 30px;
    border: 0.5px solid rgb(239, 234, 234) ;
    border-radius: 10px;

}

.container-topic-forms{
    
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    border: 1px;

}

.form-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.wrapper-inline{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 5px;

    
}

.customDateTimePicker{
    width:100px; 
    height:30px;
}

/* .cols-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  } */

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
    gap: 16px; /* Space between grid items */
    margin-bottom: 16px;
  }